img.stuff {
    position: absolute;
    max-width: 100%;
    bottom: 0;
    margin: auto;
    display: block;
    z-index: 1;
}

body {
    background: #b2c7c2;
    margin: auto;
    padding-bottom: 0px;
}

#navbar {
    position: absolute;
    right: 0px;
    bottom: 0px;
  
}

#footer{
    position: relative;
    overflow: hidden;
  
}
#footerbg {
    /*position:fixed;*/
    background: url(/img/footer_wallpaper_scale_gradient_600px.jpg) center no-repeat;
    bottom:0;
    left:0;
    right:0;
    height: 650px;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    border: none;
}

  


#footerss {
    /*background: url(/img/footer_wallpaper.jpg) no-repeat;*/
    width:100%;
    /*height:100%;*/
    position: absolute;
}