img {
	border: none;
}

header img {
	display: block;
	margin: auto;
	width: 400px;
	position: fixed;
	bottom: 50px;
	z-index: 2;
	left: 0;
  right: 0;
}

img {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.imgRight10 {
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}

.imgLeft10 {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

#defaultSlider {
	position: absolute;
	top: 5px;
	left: 5px;
	padding-left: 150px;
}

#defaultSlider img {
	float: left;
}

#defaultSlider input {
	float: left;
	margin-top: 18px;
	margin-left: 15px;
	margin-right: 5px;
}

#defaultSlider label {
	float: left;
	margin-top: 15px;
	font-size: 16pt;
	color: #473636;
}


label {
	cursor: pointer;
	font-family: 'Cabin Sketch', cursive;
}

